{% extends 'studyApp/layout.html' %}
{% block content %}
    <form action="" method="get">
            <input type="text" name="q" value="{{ q }}"/>
            <input type="submit" value="검색"/>
    </form>
{% for study in study_list %}
    <li>
        {{ study.id }}
        <a href="{% url "study:study_detail" study.id %}">
            {{ study.title }}
        </a>
{#        <a href="/study/{{ study.id }}">#}
{#            {{ study.title }}#}
{#        </a>#}
        <small>{{ study.writer }}</small>
        <small>{{ study.created_at }}</small>
    </li>
{% endfor %}
{% endblock %}
